/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

h1,h2,h3,h4,h5,p,a{
    color: white;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #343F4F;
}

.wrapper {
    display: flex;
    max-width: 1200px;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20em;
    padding: 5em;
}

.wrapper i {
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343F4F;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper i:active {
    transform: translateY(-50%) scale(0.9);
}

.wrapper i:hover {
    background: #f2f2f2;
}

.wrapper i:first-child {
    left: -44px;
    display: none;
}

.wrapper i:last-child {
    right: -44px;
}

.wrapper .carousel {
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}

.carousel.dragging img {
    pointer-events: none;
}

.carousel img {
    object-fit: cover;
    margin-left: 100px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.7);
    transition: 0.3s ease-in-out;
}
.carousel img:first-child {
    margin-left: 0px;
}
.carousel img:hover {
    transform: scale(1.05);
    
}

.Categorias_Tendencia{
    display: grid;
    position: relative;
    justify-content: space-between;
    margin: 0 0 auto;
    padding: 5em;
    margin-top: 5em;
    justify-content: center;
}

.Fotos_Categorias img{
    display: grid;
    margin-left: 30px;
}

.Categorias_Tendencia2{
    display: none;
}

@media screen and (max-width: 1000px) {
    .carousel img {
        width: calc(40% / 2);
    }
    .carousel2 img {
        width: calc(40% / 2);
    }

    .Categorias_Tendencia {
        display: none;

    }
    
    .Categorias_Tendencia2 {
        display: grid;
        margin: 0 0 auto;
        padding: 5em;
        margin-top: 5em;

    }

    .Categorias_Tendencia2 img{
        display: grid;
        margin-top: 30px;
    }

    .Fotos_Categorias .drc img{
        margin: auto;
    }
}

@media screen and (max-width: 550px) {
    .carousel img {
        width: calc(25% / 2);
    }
    .carousel2 img {
        width: calc(25% / 2);
    }
}
.wrapper2 {
    display: flex;
    max-width: 1200px;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20em;
    padding: 5em;
}

.wrapper2 i {
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343F4F;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper2 i:active {
    transform: translateY(-50%) scale(0.9);
}

.wrapper2 i:hover {
    background: #f2f2f2;
}

.wrapper2 i:first-child {
    left: -44px;
    display: none;
}

.wrapper2 i:last-child {
    right: -44px;
}

.wrapper2 .carousel2 {
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.carousel2.dragging {
    cursor: grab;
    scroll-behavior: auto;
}

.carousel2.dragging img {
    pointer-events: none;
}

.carousel2 img {
    object-fit: cover;
    margin-left: 100px;
    
    height: 100px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}
.carousel2 img:first-child {
    margin-left: 0px;
}
.carousel2 img:hover {
    transform: scale(1.05);
    
}

.footer_jj{
    display: grid;
    margin: auto;
    margin-top: 20em;
}
.contenedor_footer{
    border-top: 1px solid white;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.carousel-container{
    display: gird;
    justify-content: center;
    align-items: center;
    padding: 5em;
}

.carousel_head{
    display: grid;
    align-items: center;
    width: 700px;
    border-radius: 9px;
    box-shadow: 10px 10px 35px 0px rgba(0,0,0,0.35);
    position: relative;
    margin: auto;
}

.carousel-images{
    display: flex;
    overflow:hidden;
    border-radius: 11px;
    text-align: center;
}

.carousel-image{
    transition: all .9s;
    width: 700px;
    transform: translateX(0);
}

.carousel-image img{
    max-width: 700px;
}
.btn-left,
.btn-right{
    
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    border: none;
    position: absolute;
    cursor:pointer;
    transition: all 0.3s ease-in;
}

.btn-left:hover,
.btn-right:hover{
    opacity: 1;
    box-shadow: 0px 2px 10px rgb(0, 0, 0);
}

.btn-left{
    top: 50%;
    left: -3rem;
    margin: 0 0 auto;
    transform: translateY(-50%);
}
.btn-right{
    top: 50%;
    right: -3rem;
    transform: translateY(-50%);
}

.icon-left,
.icon-right{
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.75);
}
