.mySlides-fade {
    display: none;
}

.mySlides-fade img {
    width: 100%
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    /* Next & previous buttons */
    /* Position the "next button" to the right */
    /* On hover, add a black background color with a little bit see-through */
    /* Number text (1/3 etc) */
}

.slideshow-container .prev,
.slideshow-container .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.slideshow-container .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slideshow-container .prev:hover,
.slideshow-container .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slideshow-container .numbertext {
    color: #FFFFFF;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    right: 0;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    /*background-color: #FFFFFF;*/
    /* border-radius: 50%; */
    display: inline-block;
    /* transition: background-color 0.6s ease; */
}

.active,
.dot:hover {
    /* background-color: #E60000; */
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

.main-description-button {
    display: flex;
    align-items: center;
}

.img-button{
    width: 20%;

}

.img-button span {
    margin-right: 0.5%;
}

.article-features{
    
    font-weight: 700;
    font-size: 13px;
    display: inline-block;
    margin: 0;
    list-style: none;
    cursor: pointer;        
    padding: 15px 20px!important;
    border: solid 1px #ccc;

}

.ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.h2, h3 {
    font-family: Montserrat,sans-serif;
}

main{
    background-color: #2A2C29;
}

p{
    color: #A7C3BC;
}

h2{
    color: #FFFFFF;
}

li{
    color:#FFFFFF;
}

h2:after {
    background: #ff6000;
    content: "";
    display: block;
    height: 2px;
    margin: 0.74rem 0 0;
    width: 2.5rem;
}

#features{
    display: initial;
}

#comments{
    display: none;
}

#videos{
    display: none;
}
#questions{
    display: none;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.42rem 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.2143rem;
    transition: all .2s ease-in-out;
}

.btn-primary-outline {
    color: #ff6000;
    background-image: none;
    background-color: transparent;
    border-color: #ff6000;
}


.btn-primary-outline:focus {
    color: #943c05;
    background-image: none;
    background-color: transparent;
    border-color: #943c05;
}


.separation-line{
    margin-top: 3rem!important;
    margin-bottom: 3rem!important;
    background-color: #2A2C29;
}

.text-xs-center {
    text-align: center!important;
}

.naranja {
    color: #ff6000;
}

.soft-text{
    color: #A7C3BC
}

.btn-primary {
    color: #fff;
    background-color: #ff6000;
    border-color: #ed6003;
}

.btn-lg {
    padding: 0.785rem 2rem;
    font-size: 1.143rem;
    line-height: 1.33333;
    border-radius: 0.2143rem;
}

.box{
    margin-top: 1.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 60%;
    row-gap: 1rem;
    border: 1px solid rgb(204, 204, 204);
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: 2%;


}

#cest{
    margin-left: 5%;
}

.h4{
    font-size: 12pt;
}

#estimated-delivery{
    color: green;
}

.delete-button-and-ammount{
    margin: 1.5rem 0px 0px;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}

.dnaa-button{
    background-color: #2A2C29;

}

.img-button{
    display: inline-flex;
    align-self: center;
    width: 16px;
    height: 16px;
}

.continue-button{
    display: inline-flex;
    position: relative;
    padding: 0.5rem 9px;
    outline: 0px;
    text-align: center;
    -webkit-box-align: center;
    align-items: center;
    user-select: none;
    vertical-align: middle;
    text-decoration: none;
    font-family: "Open Sans", open-sans, sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    letter-spacing: normal;
    border-radius: 4px;
    background-color: #2A2C29;
    margin-top: 5%;
    float: right;

}

#cest{
    display: initial;
}

#shipment-directions{
    display: none;
}

#delivery-options{
    display: none;
}

#payment{
    display: none;
}

#resume{
    display: none;

}

#notImplemented{
    display: none;
}



h5{
    color: #A7C3BC;
}

#shipment-directions{
    display: none
}

.tablitas{
    max-width: 13.375rem;
    padding: 1rem 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    flex: 1 1 0%;
    box-shadow: #A7C3BC 0px -4px 0px inset;
}

h6{
    color: #A7C3BC;
    font-size: 20px;
}

.add_direction_button{
    background-color: #2A2C29;
    display: inline-flex;
    text-align: center;
    margin-top: 3%;
}

#button_text_add{
    text-align: center;
    
}

.direccion{
    display: flex;

    border: 2px solid black;
}

.right{
    float: right;
    margin-right: 1%;
    
}

#prueba{
    width: 70%;
}

#prueba2{
    width: 29%;
    padding-left: 5%;

}

#lineas{
    border-bottom: 1px dashed #A7C3BC ;
}


/*css de tablas colapsables */
.wrapper {
    display: flexbox;
    padding-top: 50px;
    justify-content: center;
}

.collapsible{
    max-width: 410px;
    overflow: hidden;
    font-weight: 500;


}

.collapsible input{
    display: none;
}

.collapsible label{
    position:relative;
    font-weight: 600;
    font-size: 12px;
    color: #A7C3BC;
    display: block;
    margin-bottom: 10px;
    height: 22px;
    cursor: pointer;
    padding-left: 5px;
    border-bottom: 2px solid #A7C3BC;
    z-index: 1;
    background-color: rgb(52, 58, 64); 

}

.collapsible label:after{
    content: "";
    position: absolute;
    right: 15px;
    top: -5px;
    width: 25px;
    height: 27px;
    background: url(/Img/Keyboard\ arrow\ down.png);
    background-size: auto;
    transition: all 0.3s ease;
}

.collapsible input:checked + label:after{
    transform: rotate(180deg);
}

.collapsible-text {
    max-height: 1px;
    overflow: hidden;
    border-radius: 4px;
    line-height: 1.4;
    position:relative;
    top: -100%;
    opacity: 0.5;
    transition: all 0.3s ease;
    
}

.collapsible input:checked ~ .collapsible-text{
    max-height: 100%;
    padding-bottom: 25px;
    opacity: 1;
    top: 0;
}

.collapsible-text h2{
    margin-bottom: 10px;
    padding: 15px 15px 0;
    color: #A7C3BC;
    
}

.collapsible-text p{
    padding-left: 15px;
    padding-right: 15px;
    color: #A7C3BC
    
    
}

.transformable-movil{
    min-width: 5%;
}

/*fin css tablas colapsables */

main{
    padding-left: 2.5%;
    padding-right: 2.5%;
}

/*Cosas para el diseño responsibe */



#div-pGrande{
    display:initial;
}
#div-pGrande-movil{
    display: none;
}

@media screen and (max-width: 768px){
    #div-pGrande{
        display: none;
    }
    #div-pGrande-movil{
        display:initial;
    }


    /*Pasarela pago */
    /*Paso 2 */
    #prueba2{
        width: 29%;
        padding-left: 0%;
    }

    .right{
        float: none;
    }

}

.container_col{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 1.5rem;
    border-top: 1px solid rgb(204, 204, 204);
}

.container_col_direction{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 1.5rem;
    border: 2px solid black;
}

