<div class="contenido">
  <div class="izquierda">
    <div class="imagen_usuario">
      <button (click)="Popup_on()">editar</button>
      <img src="./assets/Img/usuario_chido.png" alt="imagen_Usuario">
    </div>
    <div class="info_usuario">
      <p class="Nick">{{user}}</p>
    </div>
  </div>
  <div class="derecha">
    <div class="marco_usuario">
      <div class="pedidos">
        <h1>0</h1>
      </div>
      <p>Pedidos realizados</p>
    </div>
  </div>
  <div class="boton">
    <button>Ver productos</button>
  </div>
</div>
