<ul class="navbar-nav justify-content-end flex-grow-1 pe-3" style="margin-left: 25%;" >
  <li class="nav-item"><a class="nav-link active" [routerLink]="['/mis_datos']"><h5 style="color:white">{{Lista_navegacion[0]}}</h5></a></li>
  <li class="nav-item" style="margin-left: 1%;"><a class="nav-link" [routerLink]="['/mis_datos']" style="color:white">{{Lista_navegacion[1]}}</a></li>
  <li class="nav-item" style="margin-left: 1%;"><a class="nav-link" [routerLink]="['/opiniones']" style="color:white">{{Lista_navegacion[2]}}</a></li>
  <li class="nav-item"><a class="nav-link" [routerLink]="['/PDF']"><h5 style="color:white">{{Lista_navegacion[3]}}</h5></a></li>
  <li class="nav-item" style="margin-left: 1%;"><a class="nav-link" [routerLink]="['/PDF']" style="color:white">{{Lista_navegacion[4]}}</a></li>
  <li class="nav-item" style="margin-left: 1%;"><a class="nav-link" [routerLink]="['/Pedidos-Cancelados']" style="color:white">{{Lista_navegacion[5]}}</a></li>
  <li class="nav-item"><a class="nav-link" [routerLink]="['/Tarjetas-Vinculadas']"><h5 style="color:white">{{Lista_navegacion[6]}}</h5></a></li>
  <li class="nav-item" style="margin-left: 1%;"><a class="nav-link" [routerLink]="['/Tarjetas-Vinculadas']" style="color:white">{{Lista_navegacion[7]}}</a></li>
</ul>
