<div class="container" id="shipment-directions">
  <div id="prueba" class="col">
    <h5>Dirección de envío</h5>
    <div id="shipment-options" class="row">
      <div class="tablitas col">
        <img src="/assets/Img/Home.png" alt="Home">
        <p>Dirección de Entrega</p>
      </div>
      <div class="tablitas col">
        <img src="/assets/Img/Location on.png" alt="Localización">
        <p>Punto de Recogida</p>
      </div>

      <div class="tablitas col">
        <img src="/assets/Img/Department Shop.png" alt="">
        <p>Recoger en Tienda</p>
      </div>
    </div>
    <br>
    <h6>Direcciones de envío</h6>
    <div class="container_col_direction target1">
      <div class="col" id="tusmuertos">
        <p>Nombre de ejemplo con apellidos</p>
        <p>Dirección en cuestión</p>
        <p>Número de la casa/portal, lo que sea</p>
      </div>
      <div class="col">
        <button class="add_direction_button right orange-button">
          <p>Eliminar</p>
        </button>
        <button class="add_direction_button right orange-button">
          <p>Editar</p>
        </button>
      </div>
    </div>
    <button class="add_direction_button ">
      <img src="/assets/Img/Plus Math.png" alt="Boton de más">
      <p id="button_text_add">Añadir otra dirección</p>
    </button>
    <br><br>
    <h6>Direcciones de facturación</h6>
    <div class="direccion target1">
      <div class="col">
        <p>Nombre de ejemplo con apellidos</p>
        <p>Dirección en cuestión</p>
        <p>Número de la casa/portal, lo que sea</p>
      </div>
      <div class="col">
        <button class="add_direction_button right orange-button">
          <p>Eliminar</p>
        </button>
        <button class="add_direction_button right orange-button">
          <p>Editar</p>
        </button>
      </div>
    </div>
    <button class="add_direction_button">
      <img src="/assets/Img/Plus Math.png" alt="Boton de más">
      <p class="button_text_add">Añadir otra dirección</p>
    </button>
  </div>
  <div id="prueba2" class="">
    <h5>Resumen:</h5>
    <p >Subtotal artículos</p>
    <p>Envío Estimado</p>
    <br>
    <div id="lineas">
    </div>
    <p>Total Pedido: €€€</p>
  </div>
</div>
