<div class="container" id="resume">
  <div id="prueba">
    <h5>Resumen</h5>
    <p>Dirección de envío</p>
    <div class="direccion">
      <div class="col">
        <p>Nombre de ejemplo con apellidos</p>
        <p>Dirección en cuestión</p>
        <p>Número de la casa/portal, lo que sea</p>
      </div>
      <div class="col">
        <button class="add_direction_button right orange-button">
          <p>Editar</p>
        </button>
      </div>
    </div>
    <br>
    <p>Dirección de facturación</p>
    <div class="direccion">
      <div class="col">
        <p>Nombre de ejemplo con apellidos</p>
        <p>Dirección en cuestión</p>
        <p>Número de la casa/portal, lo que sea</p>
      </div>
      <div class="col">
        <button class="add_direction_button right orange-button">
          <p>Editar</p>
        </button>
      </div>
    </div>
    <p>Método de Pago</p>
    <div class="direccion">
      <div class="col">
        <p>Método de pago Seleccionado</p>
      </div>
      <div class="col">
        <button class="add_direction_button right">
          <p>Editar</p>
        </button>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
  <div id="prueba2">
    <h5>Resumen:</h5>
    <p>Subtotal artículos</p>
    <p>Envío Estimado</p>
    <br>
    <div id="lineas">

    </div>
    <p>Total Pedido: €€€</p>
  </div>
  <div id="secundary-container-resume">

  </div>
</div>
