<div class="container" id="cest">
  <br><br><br><br>
  <h2>Mi Cesta</h2>
  <div class="box container row">
    <div class="row">
      <div class="col " id="product-image">
        <img src="/assets/Img/chad_pequeño_pasarela.png" alt="Producto Pendiente de Compra"
             id="chad_img_product">
      </div>
      <div class="col transformable-movil" id="product-description">
        <p>Nombre del producto</p>
        <p>Precio €</p>
        <br>
        <p id="estimated-delivery">Fecha de entrega estimada</p>
      </div>
      <div class="col transformable-movil" id="product-ammount">
        <div class="delete-button-and-ammount">
          <button class="dnaa-button">
            <img src="/assets/Img/Trash Can.png" alt="Eliminar Elemento">
          </button>
          <div id="ammount-selector">
            <button class="dnaa-button orange-button">
              <img src="/assets/Img/simbolo-menos.png" alt="" class="img-button">
            </button>
            <button class="dnaa-button orange-button">0</button>
            <button class="dnaa-button orange-button">
              <img src="/assets/Img/Plus Math.png" alt="" class="img-button">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
